/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  font-display: swap;
  scroll-behavior: smooth;

  /* Colors */
  --body-color: rgb(0, 0, 0);
  --title-color: rgb(220, 220, 220);
  --text-color: rgb(240, 240, 240);
  --hover-color: rgb(255, 50, 75);
  --hover-color-alt: rgb(255, 50, 100);

  /* Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1.35rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*====  BASE ============================ */
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 800 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.logo {
  width: 8rem;
  margin: 1rem 0rem 0rem 1.5rem;
  background: url(assets/logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-line {
  margin: 0rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 2.5rem;
}

.section .title {
  margin-bottom: 1rem;
  text-align: center;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  background: rgba(255, 255, 255, 0);
  transition: background 0.5s ease;
  width: 100%;
}

/*====== SOCIALS ================*/
#twitter,
#twitch,
#instagram,
#youtube,
#tiktok {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

#twitter:hover {
  color: #00acee;
}

#twitch:hover {
  color: #6441a5;
}

#instagram:hover {
  color: #c13584;
}

#youtube:hover {
  color: #ff0000;
}

#tiktok:hover {
  color: #000000;
}

/*====== SCROLL ================*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

/*====  NAVIGATION ============================ */
nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover {
  color: var(--hover-color);
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.3s;
}

nav .menu ul {
  display: none;
}

/*====  VISIBLE MENU ============================*/
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 2.5rem;
}

.toggle {
  color: var(--hover-color-alt);
  font-size: 1.5rem;
  cursor: pointer;
}

i.fa-xmark {
  display: flex;
  width: 60vw;
  justify-content: flex-end;
}

nav.show div.fa-bars {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====  HOME ============================ */
#home {
  padding: 0rem;
  background: url(assets/BACKGROUND_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#home .container {
  justify-content: center;
  margin: 0rem;
  width: auto;
  height: 90vh;
}

#home .banner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 90%;
}

/*====  TALENTS  ============================ */
#talentos {
  background: url(assets/BACKGROUND_1_INVERSE.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#talentos .container {
  margin: 0rem;
}

#talentos.section {
  height: 200vh;
  padding: 0rem 2.5rem 0rem 2.5rem;
}

#talentos h2 {
  width: 80vw;
  margin: 0rem 0rem 1rem 0rem;
}

#talentos h3 {
  font-size: var(--subtitle-font-size);
  margin: 0.5rem 0rem;
}

div.subs-container {
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
}

div.subs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

div.subs i {
  text-align: center;
  font-size: 1rem;
  width: 1.25rem;
  margin: 0.5rem 1.25rem 0.5rem 1.25rem;
}

div.subs p {
  text-align: center;
  font-size: 0.75rem;
  color: var(--text-color);
  margin: 0.25rem 0rem;
}

/* CARDS */
.cards.grid {
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.card {
  border: solid #fff;
  border-width: 0.25rem 0.5rem 0.5rem 0.25rem;
  border-radius: 0.5rem;
  height: 50vh;
  width: auto;
}

.card#T {
  display: block;
  background-image: url(assets/arte_grupo_copy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#D {
  display: block;
  background-image: url(assets/arte_grupo_copy2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#E {
  display: block;
  background-image: url(assets/arte_grupo_copy3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#T:hover,
.card#D:hover,
.card#E:hover {
  transform: translate(0.25rem, 0.25rem);
  border-width: 0.5rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}

/* POP-UP */
.popup-wrapper-t,
.popup-wrapper-d,
.popup-wrapper-e {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup {
  border: 0.5rem solid #fff;
  border-radius: 0.75rem;
  background: url(assets/BACKGROUND_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--body-font);
  text-align: center;
  width: 60%;
  height: auto;
  margin: 20% auto;
  padding: 0.5rem;
  position: relative;
}

.popup-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--text-color);
}

#talentos .popup-content h2 {
  width: 100%;
  font-size: var(--title-font-size);
  color: var(--title-color);
}

.popup-content p {
  font-family: var(--body-font);
  font-size: 100%;
  text-align: justify;
  margin-top: 0.5rem;
}

.popup a {
  width: 25%;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1.25rem;
  font-size: 1.5rem;
  border-radius: 20rem;
}

.popup-close {
  position: absolute;
  top: -1px;
  right: -2px;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  font-weight: 900;
  color: #000;
  background: #fff;
  border-bottom-left-radius: 0.5rem;
}

.popup-close:hover {
  color: var(--hover-color);
}

/*====  PARTNERS   ============================ */
#partners.section {
  overflow: auto;
  white-space: nowrap;
  padding: 0rem;
  background: rgb(235, 235, 235);
}

.scrolling-wrapper {
  overflow: auto;
  white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.cards-logo {
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-image: url(assets/logo2.png);
  background-color: rgb(235, 235, 235);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2rem 3rem;
  margin: 0.5rem 1.5rem;
}

/*====  CONTACTS ============================ */
#contact {
  background: url(assets/BACKGROUND_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#contact.section {
  padding: 1.5rem;
}

#contact .grid {
  gap: 2.5rem;
}

div.form {
  width: 100%;
  margin: 0% 10% 0% 10%;
}

.button {
  background-color: var(--hover-color-alt);
  color: var(--text-color-light);
  height: 1.5rem;
  width: 80%;
  margin: 0.75rem 0rem;
  align-items: center;
  padding: 0rem 1.25rem;
  border-radius: 0.5rem;
  border-style: outset;
  border: hidden !important;
  font: 500 0.875rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--hover-color);
}

/* Style inputs, select elements and textareas */
input[type='text'],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 80%;
  margin-top: 0.75rem;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/*====  FOOTER ============================ */
footer {
  background: var(--body-color);
}

footer.section {
  padding: 0.5rem 0rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 0.75rem;
}

/*====  MEDIA QUERY ============================*/
@media (orientation: landscape) {
  #home.section {
    padding: 0%;
    height: 90vh;
  }

  #talentos.section {
    padding: 0% 2% 0% 2%;
    height: 100vh;
  }

  #talentos h2 {
    width: 100vw;
  }

  #talentos h3 {
    margin: 2% 5% 2% 5%;
  }

  div.subs-container {
    margin: 0% 25% 0% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  div.subs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0% 5% 0% 5%;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin: 0% 10% 0% 10%;
  }

  .card {
    width: 25vw;
    height: 60vh;
    margin: 0% 2% 0% 2%;
  }

  .popup {
    max-width: 50%;
    width: auto;
    height: 60%;
    margin: 5% auto;
  }

  .popup-content {
    padding: 2% 4%;
  }

  .popup-content h2 {
    font-size: 250% !important;
  }

  .popup-content p {
    font-family: var(--body-font);
    font-size: 150%;
    font-weight: 400;
    text-align: justify;
    margin-top: 2%;
  }

  .link-wrapper {
    margin-top: 5%;
  }

  .link-wrapper a {
    padding: 2% 0%;
    font-size: 100%;
  }
}
