/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  scroll-behavior: smooth;

  /* Colors */
  --hue: 0;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 0% 100%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 100%);
  --text-color: hsl(0 0% 08%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* Fonts */
  --title-font-size: 3.5rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*====  BASE ============================ */
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 800 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  /* text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000; */
  -webkit-font-smoothing: auto;
}

.button {
  background-color: rgb(255, 50, 100);
  color: var(--text-color-light);
  height: 2.5rem;
  width: 76rem;
  margin: 0.75rem 25rem 0.75rem 25rem;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.5rem;
  border-style: outset;
  border: hidden !important;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
}

.button:hover {
  background: rgb(255, 20, 80);
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 2rem;
}

.container-line {
  margin: 0rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 2rem;
}

#header {
  position: relative;
  z-index: 99;
  display: flex;
  background: rgba(255, 255, 255, 0);
  transition: background 0.5s ease;
  width: 100%;
}

/*====  SCROLLBAR ============================ */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
/*====  LOGOTYPE ============================ */
.logo {
  width: 12rem;
  margin: 0rem 6rem 0rem 2rem;
  padding: 4rem 0rem;
  background: url(assets/logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*====  NAVIGATION ============================ */
nav {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
  margin-bottom: 2rem;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: rgb(255, 50, 75);
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.3s;
}

nav .menu ul {
  display: none;
}

/*====  VISIBLE MENU ============================ 
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
  transition: 0.3s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}
*/
/*====  HOME ============================ */
#home {
  padding: 0rem;
  background: url(assets/BACKGROUND_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#home.section {
  padding: 0rem;
  height: 70vh;
}

#home .container {
  justify-content: center;
  margin: 0;
}

#home .banner {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 95vh;
}
/*====  TALENTS  ============================ */
#talentos {
  background: url(assets/BACKGROUND_1_INVERSE.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0rem 3.75rem 3.75rem 3.75rem;
}

#talentos.section {
  height: 110vh;
}

#talentos h2 {
  font-size: 3.75rem;
}

div.subs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 12rem;
  padding: 0rem 3rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.4);
}

div.subs i {
  font-size: 2rem;
  width: 2.25rem;
  margin: 0rem 0rem 0rem 1rem;
}

div.subs p {
  font-size: 1rem;
  color: #fff;
  margin-right: 0.75rem;
}
/* icons */
#twitter,
#twitch,
#instagram,
#youtube,
#tiktok {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

#twitter:hover {
  color: #00acee;
}

#twitch:hover {
  color: #6441a5;
}

#instagram:hover {
  color: #c13584;
}

#youtube:hover {
  color: #ff0000;
}

#tiktok:hover {
  color: #000000;
}

.cards.grid {
  gap: 1.5rem;
}

.card {
  border: solid #fff;
  border-width: 0.25rem 0.5rem 0.5rem 0.25rem;
  border-radius: 0.5rem;
  padding: 15rem 5rem;
}

.card#T {
  display: block;
  background-image: url(assets/arte_grupo_copy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#D {
  display: block;
  background-image: url(assets/arte_grupo_copy2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#E {
  display: block;
  background-image: url(assets/arte_grupo_copy3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#T:hover,
.card#D:hover,
.card#E:hover {
  transform: translate(0.25rem, 0.25rem);
  border-width: 0.5rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}

/* POP-UP */
.popup-wrapper-t,
.popup-wrapper-d,
.popup-wrapper-e {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup {
  border: 1rem solid #fff;
  border-radius: 1rem;
  background: url(assets/BACKGROUND_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--body-font);
  text-align: center;
  width: 40%;
  margin: 10% auto;
  padding: 1.5rem;
  position: relative;
}

.popup a {
  width: 25%;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
}

.popup-content {
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  color: #fff;
}

.popup-content p {
  font-family: var(--body-font);
  font-size: 2rem;
  font-weight: 500;
  text-align: justify;
  margin-top: 1.5rem;
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
  border-radius: 0.75rem;
}

.popup-close {
  position: absolute;
  top: -1px;
  right: -2px;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  font-weight: 900;
  color: #000;
  background: #fff;
  border-bottom-left-radius: 0.5rem;
}

/*====  PARTNERS   ============================ */
#partners.section {
  padding: 0rem;
  background: rgb(235, 235, 235);
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  scroll-behavior: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.cards-logo {
  background-image: url(assets/logo2.png);
  background-color: rgb(235, 235, 235);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 auto;
  padding: 4rem 6rem;
  margin: 0.5rem 2rem;
}

/*====  CONTACTS ============================ */
#contact {
  background: url(assets/BACKGROUND_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#contact h2 {
  font-size: 3.75rem;
}

#contact.section {
  padding: 2rem;
}

#contact .grid {
  gap: 4rem;
}

div.form {
  width: 150vh;
}

/* Style inputs, select elements and textareas */
input[type='text'],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid rgb(255, 50, 100);
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  display: inline-block;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 0.75rem;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 0.75rem;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/*====  FOOTER ============================ */
footer {
  background: rgb(235, 235, 235);
}

footer.section {
  padding: 0.75rem 0rem;
}

footer p {
  margin: 0rem 2rem 0rem 2rem;
}

/* Wide Desktop */
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    margin: auto;
  }

  .logo {
    width: 15rem;
  }

  h2.title {
    text-align: center;
    font: 800 var(--title-font-size) var(--title-font);
    font-size: 4rem;
  }

  #talentos h2 {
    font-size: 5.5rem;
  }

  nav.container {
    height: 22vh;
    margin: 0rem 0rem 0rem 10rem;
  }

  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
    margin: 0rem 1rem 0rem 12rem;
  }

  nav .menu ul {
    margin-left: 20rem;
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 900 2rem var(--title-font);
  }

  nav .menu ul li a.title.active {
    font-weight: bolder;
  }

  nav .icon-menu {
    display: none;
  }

  #home.section {
    padding: 0rem;
    height: 80vh;
  }

  .card {
    padding: 25rem 5rem;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.subs {
    margin: 0rem 18rem;
    padding: 0.5rem 5rem;
  }

  div.subs i {
    font-size: 3rem;
    width: 3rem;
  }

  div.subs p {
    font-size: 1.5rem;
  }

  .popup {
    width: 50%;
    height: 60%;
  }

  footer .container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

/* Large Desktop */
@media (min-width: 1440px) and (max-width: 1919px) {
  .container {
    max-width: 1440px;
  }

  .section .header {
    max-width: 32rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
    margin: 0rem 4rem 0rem 30rem;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 700 1.25rem var(--body-font);
  }

  nav .menu ul li a.title.active {
    font-weight: 900;
  }

  nav .icon-menu {
    display: none;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards-logo {
    grid-template-columns: 2fr 2fr 2fr;
  }

  .popup {
    width: 45%;
    height: 65%;
  }

  .popup-content {
    padding: 0.5rem 1.25rem;
  }

  .popup-content p {
    font-family: var(--body-font);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 0.75rem;
  }

  .link-wrapper {
    margin-top: 2rem;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .button {
    width: 50rem;
    margin: 0.75rem 17rem 0.75rem 17rem;
  }

  footer.section {
    padding: 0.75rem 0rem;
  }

  footer .container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.5rem;
  }
}
/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .section .header {
    max-width: 32rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  main {
    margin-top: var(--header-height);
  }

  nav.container {
    margin: 0rem 0rem 0rem 12rem;
  }

  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
    margin: 0rem 1rem 0rem 6rem;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 600 1.15rem var(--title-font);
  }

  nav .menu ul li a.title.active {
    font-weight: bolder;
  }

  nav .icon-menu {
    display: none;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: center;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 0.75rem 0rem;
  }

  footer .container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.5rem;
  }
}
/* Tablets 
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  .container {
    max-width: 768px;
  }

  .section {
    padding: 10rem 0;
  }

  .section .header {
    max-width: 32rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  main {
    margin-top: var(--header-height);
  }

  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .menu ul li a.title.active {
    font-weight: bolder;
  }

  nav .icon-menu {
    display: none;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.5rem;
  }
}
*/
